---
const { wallet } = Astro.props;
import { getTokenPortfolio } from "../../hooks/useTokenPortfolio";
const portfolio = await getTokenPortfolio({ name: "Polygon" }, wallet);
import { utils } from "ethers";
---

<div class="overflow-x-auto w-full">
  <table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>Token</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      {
        portfolio
          .filter((t) => t.balance > 0)
          .map((token) => (
            <tr>
              <td>
                <div class="flex items-center space-x-3">
                  <div class="avatar">
                    <div class="mask mask-squircle w-12 h-12">
                      <img src={token.tokenImg} alt={token.token} />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">{token.token}</div>
                    <div class="text-sm opacity-50">{token.name}</div>
                  </div>
                </div>
              </td>
              <td>
                {utils.formatUnits(token.balance, token.decimals)}
                <br />
                <span class="badge badge-ghost badge-sm">
                  ${token.quote.toPrecision(2)}
                </span>
              </td>
            </tr>
          ))
      }
    </tbody>
  </table>
</div>
