---
import Layout from "../../layouts/Layout.astro";
import SendModal from "../../components/Send/SendModal.astro";
import ClaimModal from "../../components/Claim/ClaimModal.astro";
import { Icon } from "astro-icon";
import { supportedNetworks } from "../../../utils/networks";
const [network, user] = Astro.url.pathname.split("/")[2].split(":");
const networkInfo = supportedNetworks.filter((e) => e.name === network)[0];
const userInfo = networkInfo && (await networkInfo.resolveUser(user));
import { checkWallet } from "../../../utils/getWallet";
const wallet = await checkWallet(Astro.url.pathname.split("/")[2]);
// import { LoggedInAs } from "../../components/Accounts/User";
---

<Layout title="Lensmo-User">
  <div
    class="card bg-base-100 shadow-xl p-6 mx-auto w-full flex flex-col content-center"
  >
    <div class="flex flex-row">
      <a href="/" class="basis-1/2">
        <Icon name="eva:arrow-back-fill" class="w-8" />
      </a>
      <p
        class="font-sans antialiased text-gray-600 basis-1/2 text-right"
        id="username"
      >
        {String(Astro.url.pathname.split("/")[2])}
      </p>
    </div>
    {
      networkInfo ? (
        userInfo ? (
          <div class="card-body flex flex-col justify-center">
            <div class="avatar mx-auto">
              <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                <a href={networkInfo.url + user} target="_blank">
                  <img src={userInfo.image} />
                </a>
              </div>
              <Icon class="w-10 inlay" name={networkInfo.logo} />
            </div>
            <div class="flex flex-col justify-center">
              <h2 class="card-title mx-auto">
                <a href={networkInfo.url + user} target="_blank">
                  @{userInfo.name}
                </a>
                on
                <span class="capitalize">{network}</span>
              </h2>
              <p class="mx-auto" id="destination">
                {userInfo.description}
              </p>
            </div>
            <div class="card-actions mx-auto">
              <label class="btn btn-primary" for="send">
                <Icon name="carbon:share-knowledge" class="w-6" />
                Give tokens
              </label>
              <label class="btn btn-primary" for="claim">
                <Icon name="carbon:piggy-bank" class="w-6" />
                Claim
              </label>
            </div>
            <div class="flex flex-col justify-center">
              {wallet ? (
                <h4 class="mx-auto text-slate-500">
                  <a
                    href={`https://zapper.fi/account/${wallet}`}
                    target="_blank"
                  >
                    View Wallet
                  </a>
                </h4>
              ) : (
                <div
                  class="tooltip"
                  data-tip="This user has not been given any digital assets yet. When they are sent some NFTs or tokens, a wallet will be created automatically and will be viewable here."
                >
                  <i class="mx-auto text-slate-500">No wallet created yet</i>
                </div>
              )}
            </div>
            <SendModal />
            <ClaimModal provider={network} userInfo={userInfo} />
          </div>
        ) : (
          <h2 class="card-title">
            Unable to find your account. Please check your username.
          </h2>
        )
      ) : (
        <h2 class="card-title">
          Network {network} is not supported, please check our documentation for
          the supported networks
        </h2>
      )
    }
  </div>
</Layout>
<style>
  .inlay {
    position: absolute;
    bottom: -10px;
    right: -5px;
  }
</style>
